NODE_ENV=development
APP_PORT=3000

DB_CLIENT=mysql2
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=pos_venda

FRONTEND_URL=http://localhost:5173

JWT_SECRET=MQDXnLF4Q3dAIL_4CKLzS1GXnVD4skJZTMJIxNMiiGNfIcNbZGvCjMK__2prKWLRfRzCHa7VoXW4xM3WH54LeA==
JWT_EXPIRES_IN=1d